<%- include('head')%>
<body>
    <h1>Blogs</h1><hr>
    <% blogs.forEach((blog, index) => { %>
    <h3><%= blog['title'] %></h3>
    <h4>Blog Snippet:<%= blog['snippet'] %></h4>
    <p>Blog Body:<%= blog['body'] %></p><br><hr><br>
    <% }) %>
    <a href="add-blog">Add Blog</a>
</body>
</html>
